# Ambiente virtual
venv/
.venv/
env/
ENV/

# Cache e arquivos temporários
__pycache__/

# Ignorar todos os arquivos CSV, exceto os das pastas específicas
*.csv
!demonstracoes_contabeis2023/*.csv
!demonstracoes_contabeis2024/*.csv
!operadoras_ativas/*.csv

